* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1024px;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.contact-info ul,
.contact-info .avatar {
  display: inline-block;
}

.contact-info ul {
  float: left;
}

.contact-info .avatar {
  float: right;
}
